.jumbotron {
        color: #181818;
        text-align: center;
        background: none ;
}

.carousel-caption {
        color: white;
        text-align: center;
}

h5{
        color: #fbdd74;
}

.sectionClara {
        background-color: #f6efef;
        padding: 2em;
}

#form{
        width: 300px;
        margin: 20vh auto 0 auto;
        padding: 20px;
        background-color: whitesmoke;
        border-radius: 4px;
        font-size: 12px;
}

#form h1 {
        color: #0f2027;
        text-align: center;
}

#form button {
        padding: 10px;
        margin-top: 50px;
        width: 100%;
        color: white;
        background-color: rgb(41, 57, 194);
        border: none;
        border-radius: 4px;
}


.input-control { /*The properties inside this selector will be applied to the element itself. .input-control is styling the container element, turning it into a flex container and arranging its child elements in a column.*/
        display: flex;
        flex-direction: column;
} 

.input-control input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block; /*meaning they will take up the full width available (like starting on a new line)*/
        font-size: 12px;
        padding: 1px;
        width: 100%;
}

.input-control input:focus {
        outline: 0;

}

.input-control.success input {
        border-color: #09c372;
}

.input-control.error input {
        border-color: red;

}

.input-control.error {
        color: #ff3860;
        font-size: 9px;
        height: auto; /*to allow it to expand when an error occurs */
        margin-top: 5px;
}


.sectionOscura {
        background-color: #4fc4cf;
        padding: 2rem; /*Se adapta al diseño responsivo, 1 rem son 16px. This is because nowadays, screen sizes come in different sizes and shapes. If we use px , the element's size remains constant regardless of the size of the screen*/
}


.stuffWrapper {
       margin-top: 20px; 
       
}


button.stuffWrapperBtn {
        background-color: #fbdd74;
        color: #181818;
        display: block;
        margin: auto;
}

h1.modal-title{
    margin: auto;
}

.modalFormWrapper{
    padding: 2rem;
}

.imgCenter{
    display: block;
    margin: auto;
}

.btnCenter{
    display: block;
    margin: auto;
    background-color: #fbdd74;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 50%;
}

.size {
width: 50%;
}

footer{
background-color: PINK;
}

.footerImg {
padding: 20px;
}

i{
color: white;
margin: 10px;
}

footer{
background-color: #181818;     
}

.socialWrapper{
margin: auto;
}

.socialWrapper a{
text-decoration: none;
}

